@mixin media-pc {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin media-sp {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-is-pc {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}