/**
* @file _reset.scss
**/

@import './media';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    border: 0;
}

*,
 ::after,
 ::before {
    @include media-pc {
        font-size: calc(1/1280 * 100vw);
    }
    @include media-sp {
        font-size: calc(1/375 * 100vw);
    }
}

a {
    font-size: 16px;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    // font-family: $font-gothic;
    background-color: white;
}

body {
    font-family: "Noto Sans JP";
    color: #000000;
}

// *::selection {
//     background: #826F34;
//     color: white;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin-bottom: 0;
}

ol,
ul {
    list-style: none;
}

*:focus {
    outline: none;
}

blockquote,
q {
    quotes: none;
    &::before,
    &::after {
        content: none;
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

button {
    cursor: pointer;
    border: 0;
    outline: none;
}

table td,
table th {
    padding: 0;
    border: 0;
}

img {
    max-width: 100%;
    pointer-events: none;
    user-select: none;
    border: 0;
    object-fit: cover;
    width: 100%;
    visibility: visible !important;
}

input:focus {
    outline: 0;
}

td,
th,
tr {
    vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
    margin: 0;
}

ol,
ul {
    padding: 0;
    list-style-type: none;
}

textarea {
    resize: vertical;
}

fieldset,
legend {
    padding: 0;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}